doctype html
html
  head
    title= title
    <meta charset="UTF-8">
    <meta name="description" content="sber-pb conference">
    <meta name="keywords" content="sber-pb">
    <meta name="author" content="Denis Shevchenko">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon512.png" rel="apple-touch-icon" sizes="512x512">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon120.png" rel="apple-touch-icon" >
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-512x512.png" rel="android-touch-icon" sizes="512x512">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-192x192.png" rel="android-touch-icon" sizes="192x192">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/favicon.ico" rel="shortcut icon" >
    <meta name="msapplication-TileImage" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon144.png" >
    <meta name="msapplication-square70x70logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon70.png" >
    <meta name="msapplication-square150x150logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon150.png" >
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="ru_RU">
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(style="margin: 30px auto; width:300px;text-align: center;")
      div !{site.badBrowser["ru"]}
      div !{site.badBrowser["en"]}
