.playerCtrl
    .playerCtrlItem(v-bind:class="{active:!chatIsActive}" v-on:click="chatIsActive=false")
        .playerCtrlItemIcon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.955 4.04502C17.8301 1.92022 15.005 0.75 12 0.75C8.99502 0.75 6.16991 1.92022 4.04502 4.04502C1.92022 6.16991 0.75 8.99502 0.75 12C0.75 13.9822 1.27014 15.9213 2.25671 17.6268L0.75 23.25L6.3732 21.7433C8.07872 22.7299 10.0178 23.25 12 23.25C15.005 23.25 17.8301 22.0798 19.955 19.955C22.0798 17.8301 23.25 15.005 23.25 12C23.25 8.99502 22.0798 6.16991 19.955 4.04502ZM12.6592 17.603H11.3408V16.2847H12.6592V17.603ZM14.4562 11.89L12.6592 13.8997V14.9663H11.3408V13.3962L13.4736 11.011C13.7987 10.6479 13.9775 10.1798 13.9775 9.69287C13.9775 8.60246 13.0904 7.71533 12 7.71533C10.9096 7.71533 10.0225 8.60246 10.0225 9.69287H8.7041C8.7041 7.87551 10.1826 6.39697 12 6.39697C13.8174 6.39697 15.2959 7.87551 15.2959 9.69287C15.2959 10.5048 14.9977 11.285 14.4562 11.89Z" fill="#353F47"/>
            </svg>
        .playerCtrlItemTitle !{site.q[lang]}

