.playerCtrl
    .playerCtrlItem(v-bind:class="{active:!chatIsActive}" v-on:click="chatIsActive=false")
        .playerCtrlItemIcon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.955 4.04502C17.8301 1.92022 15.005 0.75 12 0.75C8.99502 0.75 6.16991 1.92022 4.04502 4.04502C1.92022 6.16991 0.75 8.99502 0.75 12C0.75 13.9822 1.27014 15.9213 2.25671 17.6268L0.75 23.25L6.3732 21.7433C8.07872 22.7299 10.0178 23.25 12 23.25C15.005 23.25 17.8301 22.0798 19.955 19.955C22.0798 17.8301 23.25 15.005 23.25 12C23.25 8.99502 22.0798 6.16991 19.955 4.04502ZM12.6592 17.603H11.3408V16.2847H12.6592V17.603ZM14.4562 11.89L12.6592 13.8997V14.9663H11.3408V13.3962L13.4736 11.011C13.7987 10.6479 13.9775 10.1798 13.9775 9.69287C13.9775 8.60246 13.0904 7.71533 12 7.71533C10.9096 7.71533 10.0225 8.60246 10.0225 9.69287H8.7041C8.7041 7.87551 10.1826 6.39697 12 6.39697C13.8174 6.39697 15.2959 7.87551 15.2959 9.69287C15.2959 10.5048 14.9977 11.285 14.4562 11.89Z" fill="#353F47"/>
            </svg>
        .playerCtrlItemTitle !{site.q[lang]}
    .playerCtrlItem(v-bind:class="{active:chatIsActive}" v-on:click="chatIsActive=true")
        .playerCtrlItemIcon
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.594 3.75C8.16618 3.75 3.75078 7.3456 3.75078 11.7652C3.75078 14.0038 4.87572 16.1033 6.86124 17.6135C6.20456 18.6386 5.35523 19.6764 4.28372 19.9407C3.94483 20.0251 3.71844 20.3457 3.75359 20.693C3.78874 21.0418 4.0742 21.3103 4.42434 21.3258C4.4398 21.3258 4.50027 21.3286 4.60152 21.3286C5.32851 21.3286 8.13524 21.2119 11.3202 19.5597C12.05 19.7073 12.8136 19.7804 13.594 19.7804C19.0205 19.7804 23.4373 16.1848 23.4373 11.7652C23.4373 7.3456 19.0205 3.75 13.594 3.75Z" fill="#D2D55F"/>
            <path d="M25.7148 24.8109C24.8191 24.5902 24.1413 23.9349 23.6674 23.2852C25.3169 21.993 26.2492 20.2155 26.2492 18.3214C26.2492 16.7353 25.5827 15.277 24.476 14.1113C23.2259 18.1738 18.8288 21.1872 13.5936 21.1872C12.8947 21.1872 12.2043 21.1338 11.5335 21.0283C11.1342 21.221 10.7433 21.3911 10.3594 21.543C11.7782 23.7226 14.5849 25.2117 17.8121 25.2117C18.4716 25.2117 19.1114 25.1512 19.7189 25.0331C21.7368 26.061 23.5774 26.2509 24.6602 26.2495C25.2536 26.2495 25.6192 26.1932 25.66 26.1862C25.989 26.1327 26.2351 25.8543 26.2492 25.5211C26.2618 25.1878 26.0397 24.8897 25.7148 24.8109Z" fill="#D2D55F"/>
            </svg>
        .playerCtrlItemTitle(style="margin-top: -5px;") !{site.chat[lang]}
