block title
    h1 !{content.title[lang]}
        .mainDate запись трансляции

           // span.ico
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4V8H2.10002C2.56329 5.71776 4.58104 4 7 4H12H22ZM12 22H2V10H22V14L24 12V4V2H22H12H7C3.47353 2 0.556119 4.60771 0.0708889 8C0.024172 8.3266 0 8.66048 0 9V10V22V24H2H12V22Z" fill="#7C8288"/>
                <path d="M7 0V6" stroke="#7C8288" stroke-width="2"/>
                <path d="M4 14L8 14" stroke="#7C8288" stroke-width="2"/>
                <path d="M4 18L8 18" stroke="#7C8288" stroke-width="2"/>
                <path d="M10 14L14 14" stroke="#7C8288" stroke-width="2"/>
                <path d="M10 18L14 18" stroke="#7C8288" stroke-width="2"/>
                <path d="M16 14L20 14" stroke="#7C8288" stroke-width="2"/>
                <path d="M16 18L20 18" stroke="#7C8288" stroke-width="2"/>
                <path d="M17 0V6" stroke="#7C8288" stroke-width="2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 23V17L22 18.5V22H16V24H23H24V23Z" fill="#D2D55F"/>
                </svg>
           // span #{content.date[lang]}
           // span.divaider
                <svg width="2" height="16" viewBox="0 0 2 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="2" height="16" fill="#D2D55F"/>
                </svg>
           // span #{content.time[lang]}
