doctype html
html
  head
    title sber-pb
    <meta charset="UTF-8">
    <meta name="description" content="sber-pb conference">
    <meta name="keywords" content="sber-pb">
    <meta name="author" content="Denis Shevchenko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src="/images/reconstuct.jpg")



